<div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-box">			
			<h1>Editing team</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @team %> |
			<%= link_to 'Back', teams_path %>
		</div>
	</div>
</div>