<%= link_to 'New Article', new_article_path %>
<br />
<br />
<div class="row">
  <div class="col-md-4">
    <div class="contents" id="one">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front-a">
            <!-- front content -->
            <style>
              .front-a {
                height: 300px;
                width:260px;
                background: url(<%= asset_path 'beckham1.jpeg' %>) no-repeat;
                background-size: cover;  
              }
            </style>       
            <h3> David Beckham </h3>
          </div>
          <div class="back">
            <!-- back content -->
            <ul style="list-style-type:circle">
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="col-md-4">
    <div class="contents" id="two">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front-b">
            <!-- front content -->
            <style>
              .front-b {
                height: 300px;
                width:260px;
                background: url(<%= asset_path 'christiano1.jpeg' %>) no-repeat;
                background-size: cover;  
              }
            </style>
            <h3> Christiano Ronaldo </h3>
          </div>
          <div class="back">
            <!-- back content -->
            <ul style="list-style-type:circle">
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="col-md-4">
    <div class="contents" id="three">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front-c">
            <!-- front content -->
            <style>
              .front-c {
                height: 300px;
                width:260px;
                background: url(<%= asset_path 'ronaldinho1.jpeg' %>) no-repeat;
                background-size: cover;  
              }
            </style>
            <h3> Ronaldinho </h3>
          </div>
          <div class="back">
            <!-- back content -->
            <ul style="list-style-type:circle">
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
              <li>Fake stat</li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div> 
</div>
        
    













