.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
}

.flip-container, .front, .back, .front-a, .front-b, .front-c, .back {
	width: 260px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	border-radius: 10px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	background: none repeat scroll 0% 0% #90EE90;
	border-radius: 10px;

}


.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#container {
  width: 1000px;
  background-color: white;
  overflow: auto;
  height: 400px;
  white-space: nowrap;
  padding-left: 140px
}

.contents {
    display: inline-block;
}

h1, h3 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.front span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.back span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	/*background: rgba(255,255,255,0.8);*/
	color: white;
}

.shadebox {
	background: rgba(83,81,81,0.8);
	width: inherit;
	height: inherit;
	border-radius: 10px;
}

.bottom-space {
	margin-bottom: 15px;
}

.editor-article {
	background: rgba(255,255,255,0.8);
	padding: 15px;
	border-radius: 10px;
}

